*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.close-menu{
    display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topbar ul{
    float: left;
}

.nav-top{
    margin: 10px;
}

.topbar{
    padding: 0 5%;
    height: 44px;
    background-color: #BF1964;
}


.top-top{
    display: flex;
    width: 33.33%;
}
.sec-con{
    justify-content: flex-end;
}

.third-con{
    justify-content: flex-end;
}

.aca-cal{
    height: 17px;
}

.icon-top{
    vertical-align: text-top;
}

nav ul li a{
    color: #CC0E74;
    text-decoration: none;
}
.color-change{
    color: white;
}

#checked{
    display: none;
}
.menu-btn{
    display: none;
}

.search-icon{
    display: none;
}

.menu-nav-bar{
    display: flex;
    justify-content: center;
}
.menu-li{
    margin: 32px 10px;
    font-size: 18px;
}

.mnit-logo{
    text-align: end;
}

.mnit-logo-resize{
    width: 100px;
    height: 100px;
}
@media only screen and (max-width: 1190px) {
    .mnit-logo-resize{
        width: 60px;
        height: 60px;
    }
  }
.container{
    display: inline-flex;
    padding: 12px 0;
    width: 100%;
    place-items: center;
    justify-content: center;
    background-color: #E11D74;
}
.text{
    color: white;
    font-size: 21px;
}
.mnit-logo{
    margin-right: 1.5%;
}
.hindi-text{
    width: 27.3%;
    margin-right: -5%;
    font-size: 23px;
}
.eng-text{
    width: 38.2%;
    margin-right: 7%;
}

.menu-li a:hover{
    background-color: #CC0E74;
    color: white;
}

.depart-sec1{
    margin-right: 2.7%;
}
.depart-sec2{
    margin-left: 2.7%;
}

.depart-content{
    color: #666666;
    padding: 3px 30px;
}
.depart-content:hover{
    background-color: #CC0E74;
    color: white;
}

.depart-part{
    display: none;
}

.department:hover .depart-part{
    background-color: white;
    margin-top: 10px;
    position: absolute;
    top: 223px;
    display: flex;
    font-size: 1rem;
    width: 50%;
    padding: 10px 0;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 4.5px 7.5px -1.5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

/* .slideshow{
    margin: 0 2%;
} */
.slide-image{
    width: 100vw;
    height: auto;}
.mySlide{
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 450px;
    width: auto;
    margin-top: -22px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.span-hover{
    cursor: pointer;
}
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: #E11D74;
}

.num-text{
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    top: 44vw;
    left: 96vw;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* five cards  */

#five-cd{
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -59px;
}
.five-cards {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-direction: row;
    justify-content: center;

}
.five-card {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    justify-content: center;
  
}
.phone-five-cards{
    display: flex;
    flex-direction: row;
}
.five-card:hover {
   box-shadow: none;
}
.five-card1{
    background-color: #E11D74;
    color: white;
}
.five-card1 a{
    background-color: #E11D74;
    color: white;
    text-decoration: none;
}
.five-card2{
    background-color: #FFF1F7;
    color: #E11D74;
}
.five-card2 a{
    background-color: #FFF1F7;
    color: #E11D74;
    text-decoration: none;
}
.five-card3{
    background-color: #E11D74;
    color: white;
}
.five-card3 a{
    background-color: #E11D74;
    color: white;
    text-decoration: none;
}
.five-card4{
    background-color: #FFF1F7;
    color: #E11D74;
}
.five-card4 a{
    background-color: #FFF1F7;
    color: #E11D74;
    text-decoration: none;
}
.five-card5{
    background-color: #E11D74;
    color: white;
}
.five-card5 a{
    background-color: #E11D74;
    color: white;
    text-decoration: none;
  
/* .five-card:nth-of-type(odd) {
    background-color: #E11D74;
    color: white;
}
.five-card:nth-of-type(odd) a{
    background-color: #E11D74;
    color: white;
    text-decoration: none;
}

.five-card:nth-of-type(even) {
    background-color: #FFF1F7;
    color: #E11D74;
}.five-card:nth-of-type(even) a{
    background-color: #FFF1F7;
    color: #E11D74;
    text-decoration: none;
} */



/* four tab */

.for-all-tab{
    margin: 0px;
    padding: 0px;
}
}
.big-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-part1{
    display: flex;
    flex-direction: row;
}

.big-part2{
    display: flex;
    flex-direction: row;
}

h3{
    color: #E11D74;
    font-size: 1.8em;
}

.crd-sty{
    height: auto;  
    background: #FFFFFF;
    width: 40vw;
    margin: 30px 10px;
    box-shadow: 0px 0px 47.25px -18px rgba(0, 0, 0, 0.15);
    border-radius: 33.75px;
    padding: 2%;
}

.pin-card-tab{
    display: flex;
    flex-direction: column;
}
.pin-content{
    display: flex;
    flex-direction: row;
}
.pin-icon {
    width: 50px;
    padding: 10px;
    position: relative;
}
.hr-tag{
    height: 1px;
    background-color: #f3338c;
    margin: 40px 0;
}

h6{
    color: #959595;
    margin-top: 24px;
    margin-bottom: 0;
}

.many-tabs{
    display: none;
}

.bottom-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.view-more{
    cursor: pointer;
    color: rgb(43, 60, 153);
}

.info-tab{
    margin: 0 13px;
    cursor: pointer;
}


/* Achievements tab  */


*{
    margin: 0px;
    padding: 0px;
}
.achivement{
    margin: 0px;
    padding: 0px;
}
.achievements{
    margin: 4%;
    background: #FFFFFF;
    box-shadow: 0px 0px 47.25px -18px rgba(0, 0, 0, 0.15);
    border-radius: 33.75px;
}
.achivement-all-cover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nirf-rank{
    display: flex;
    flex-direction: column;
    padding: 60px;
}
#achivement-heading{
    position: relative;
    top: 40px;
    left: 45px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 131.5%;
color: #E11D74;
}
.para-width{
    width: 65vw;
    text-align: justify;
    text-justify: inter-word;
}
.margin-padding {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.margin-padding img {
    width: 63.75px;
    height: 38.25px;
}
.margin-padding p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding: 0px 10px;  
    color: #383779; 
}

.settle-rank{
    display: flex;
    align-items: center;
}
.color-blue{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.rank-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding: 0px 10px;
    letter-spacing: 0.085em;
    color: #36454F;

}


.num-rank{
    margin:0px 15px;
    color: #E11D74;
    border: 3px solid #E11D74;
    border-radius: 9px;
    padding: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32.6912px;
}


.contain-achieve{
    margin: 2%;
}
.achieve1{
    width: 33%;
}

.achieve-tag-img{
    display: none;
}

.achieve-image{
    width: 60vw;
    height: 20vw;
    border-radius: 6px;
}

.campus-img-bar{
    display: none;
}


.nirf-img{
    width: 38px;
    height: 22px;
    margin:0px 15px;
}


/* campus life  */
.campus-life-sect{
    display: flex;
    align-items: center;
}
.campus-life{
    width: 95vw;
    margin: 10px 50px;
    padding: 3%;
    box-shadow: 0px 0px 47.25px -18px rgba(0, 0, 0, 0.15);
    border-radius: 33.75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campus-heading-para{
    margin: 10px;
    padding: 10px;
}
.campus-heading-para p{
    text-justify: center;
    margin: 30px;
    padding: 10px 0px;
}
.camp-img-gal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery-image-view{
    width: 200px;
    height: auto;
    border-radius: 7px;
}
.campus-img-gal-only{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campus-gallery{
    display: flex;
    flex-direction: row;
}
.camp-img-view{
    width: 60vw;
    height: auto;
    margin: 30px;
}
.gallery-main-pic{
    height: 70vh;
    width: 90vw;
    border-radius: 10px;
}

.gal-img-capta{
    color: white;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .6);
    position: relative;
    top: -6.8%;
}

.gallery-view-bar a{
    text-decoration: none;
}
.gallery-view-bar {
    width: 150px;
    margin: 30px 10PX;
    padding: 5px 2px;
    border: 3px solid #E11D74;
    border-radius: 5px;
    text-align: center;
   
}

.view-bar-slide{
    padding: 0 4%;
}
.lower-bar-icon{
    text-align: center;
    margin-top: 30px;
}

.startups{
    margin: 2% 4%;
    padding: 2%;
    box-shadow: 0px 0px 47.25px -18px rgba(0, 0, 0, 0.15);
    border-radius: 33.75px;
}

.startup-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.stp-slide-btn{

}
.start-content-imgtext{
    display: flex;
    flex-direction: row;
}
.start-content-imgtext{
    display: flex;
    flex-direction: row;
}
.start-up-tag{
    margin-left: 1.5%;
}
.start-up-class{
    margin: 0 2%;
    margin-top: 4.2%;
}
.startup-content{
    background-color: ;
    box-shadow:rgb(255, 230, 235) 0px 0px 10px ;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.crescendo{
    width: 100%;
    height: 250px;
}
.read-crescendo{
    margin-top: 5.2%;
    text-align: center;
}

.startup-button{
    border-image: none;
    border-color: crimson;
    background: white;
    border-style: solid;
    color: crimson;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px;
}

.startup-view{
    font-size: xx-large;
}

.start-image-up{
    width: 100%;
    height: 150px;
}
.startup-images-gal{
    margin: 0 2%;
}
.p-special{
    margin-bottom: 2%;
}

/* fotter part  */

.footer-part{
    display: flex;
    flex-direction: row;
    background-color: #CC0E74;
    padding: 18px;
    color: white;
}

.footer{
    width: 24%;
    margin: 2% 4%;
}

.footer-left{
    width: 50%;
}
.link-text{
    color: rgb(252, 191, 213);
    text-decoration: none;
    margin: 20px 3px;
    transition: .2s;
}
.link-text:hover{
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 20px 3px;
}
.vl{
    width: 4%;
    border-right: 1.5px solid white;
    height: auto;
}

.footer-image{
    width: 100px;
    height: 100px;
}
.foot-logo{
    text-align: center;
    padding: 10px;
    color: #ffa0cb;
}

.footer-line{
    margin-bottom: 20px;
    color: #383779;
}

.foot-gap{
    margin: 5px 0;
}

.footer-icon{
    vertical-align: text-bottom;
}




@media(max-width: 1436px){
    .one-con{
        width: 45%;
    }
    .sec-con{
        width: 25%;
    }
    .third-con{
        width: 30%;
    }
}

@media(max-width: 1337px){
    .eng-text{
        width: 44.4%;
        margin-right: 5%;
    }
    .hindi-text{
        width: 31%;
    }
}

@media(max-width: 1252px){
    .menu-li{
        font-size: 15px;
        margin: 25px 10px;
    }
    .num-text{
        top: 250px;
    }
    .prev, .next{
        top: 430px;
    }
}

@media(max-width: 1153px){
    .eng-text{
        width: 47%;
        margin-right: 3%;
    }
    .hindi-text{
        width: 33%;
    }
}

@media(max-width: 1190px){

    .one-con{
        display: none;
    }

    .top-top{
        width: 50%;
    }
    .sec-con{
        justify-content: start;
    }

    .hindi-text{
        display: none;
    }
    .container{
        display: inline-grid;
    }
    .eng-text {
        width: auto;
        margin-right: 0;
        font-size: 15px;
        text-align: center;
    }

    .search-icon{
        position: fixed;
        top: 50px;
        left: 45px;
        display: block;
        width: 30px;
        height: 30px;
    }

    .menu-nav-bar{
        display: block;
    }
    /* drawer menu */
    .drawer-menu {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        padding: 120px 0;
        background:rgba(0,0,0);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: perspective(500px) rotateY(-90deg);
        transform: perspective(500px) rotateY(-90deg);
        opacity: 0;
    }
    
    .drawer-menu li {
        text-align: center;
    }
    
    .drawer-menu li a {
        display: block;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        color: #fff;
        -webkit-transition: all .8s;
        transition: all .8s;
    }
    
    .drawer-menu li a:hover {
        color: #E11D74;
        background: #fff;
    }
    
    /* checkbox */
    .check {
        display: none;
    }
    
    /* menu button - label tag */
    .menu-btn {
        position: fixed;
        display: block;
        top: 50px;
        right: 40px;
        display: block;
        width: 30px;
        height: 30px;
        font-size: 10px;
        text-align: center;
        cursor: pointer;
        z-index: 3;
    }
    
    .bar {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 30px;
        height: 3px;
        background: #fff;
        -webkit-transition: all .5s;
        transition: all .5s;
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
    }
    
    .bar.middle {
        top: 10px;
        opacity: 1;
    }
    
    .bar.bottom {
        top: 20px;
        -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        transform-origin: left bottom;
    }
    
    .close-menu {
        position: fixed;
        top: 0;
        right: 300px;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0);
        cursor: url(http://theorthodoxworks.com/demo/images/cross.svg),auto;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        visibility: hidden;
        opacity: 0;
    }
    
    /* checked */
    .check:checked ~ .drawer-menu {
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
        z-index: 2;
    }
    
    
    .check:checked ~ .menu-btn .bar.top {
        width: 56px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .check:checked ~ .menu-btn .bar.middle {
        opacity: 0;
    }
    
    .check:checked ~ .menu-btn .bar.bottom {
        width: 56px;
        top: 40px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .check:checked ~ .close-menu {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
        background: rgba(0,0,0,.5);
        visibility: visible;
        opacity: 1;
        z-index: 3;
    }

    .department:hover .depart-part{
        display: none;
    }

    /* .slideshow{
        margin-top: 2%;
    } */

    .num-text{
        top: 41vh;
        left: 90vw;
    }
    .prev, .next{
        top: 35vh;
    }
}
