table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}